* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0 1.5rem;
  font-family: "Outfit", sans-serif;
  background-color: $dark-blue-accent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
}

input {
  background: transparent;
  border: none;
  width: 100%;
  display: block;

  &:focus {
    outline: none;
  }
}

button {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
}
